.Character {
  width: 300px;
  background: rgb(49, 48, 48);
  
  img {
    width: 100%;
  }

  div{
    width: 100%;
    border: 1px solid black;  
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    span {
      color: lightgray;
      font-family: Arial, Helvetica, sans-serif;
    }

    p {
      display: inline;
      color: orange;
    }
  }

  h2 {
    color: lightgrey;
    font-size: 30px;
    padding: 10px;
  }


}



